NEXT_PUBLIC_API_BASE_URL=https://fitfluence.ru/api
NEXT_PUBLIC_OIDC_ISSUER=https://fitfluence.ru/auth/realms/fitfluence
NEXT_PUBLIC_OIDC_CLIENT_ID=fitfluence-web-admin
NEXT_PUBLIC_OIDC_REDIRECT_URI=https://fitfluence.ru/auth/callback
NEXT_PUBLIC_OIDC_SCOPE=openid
NEXT_PUBLIC_OIDC_USE_KC_ACTION_REGISTER=false
